*{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;

    padding: 0;
}

#limtela{

    width: 100%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}



header {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

header table {
    border-collapse: collapse;
    width: 100%;
  
}

header td {
    border: none;
    text-align: center;
    padding: 5vh;
    width: 20%;
    /* tamanho inicial dos quadrados */
}

header td:first-child {
    width: 50px;
    /* mudando o tamanho do primeiro quadrado */
}

header td:nth-child(2) {
    width: 300px;
}

header td:nth-child(3),
header td:nth-child(4),
header td:nth-child(5) {
    width: 100px;
}

header td:last-child {
    width: 250px;
}

.content {
    background-image: url('SENAC.jpg');

    width: 100vw;
    height: 500px;
    
    background-size: cover;
    text-align: center;

    position: relative;
   
    color: rgb(30, 85, 110);

    background-position: center center;

    font-weight: bold;
    text-shadow: 1 1;
}

.pagi-1{

    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    bottom: 25%;

  

}



nav a:hover {
    text-decoration: underline;
}

nav a {
    color: #0066cc;
    text-decoration: none;
    font-size: 16px;
}


.logo {
    flex: 1;
}

.logo img {
    height: 70px;
}




.content h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.content p {
    font-size: 30px;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}






.PERIODOEVENTO {

    background-color: rgb(0, 76, 149);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: rgb(65, 128, 157);
    background-position: center center;
    font-size: 25px;
}

.pagi-2 {
    text-align: center;
    height: 80px;
    align-items: center;
    padding: 30px;
    height: auto;

    font-size: 20px;
    color: rgb(65, 128, 157);
    margin-bottom: 40px;
}

.conteudo p {
    text-align:justify;
    font-size: 20px;
    color: rgb(65, 128, 157);
}

.pagi-2 table {
    border-collapse: collapse;
    width: cover;

    margin-left: auto;
    margin-right: auto;
}

.pagi-2 td {
    border:none;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.pagi-2 td:first-child {
    width: 600px;
    height: 350px;
    /* mudando o tamanho do primeiro quadrado */
}

.pagi-2 td:nth-child(2) {
    width: 600px;
    height: 350px;
    /* mudando o tamanho do primeiro quadrado */
}

.programacao{   
    
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: rgb(65, 128, 157);
    background-position: center center;
    font-size: 25px;
    height: 600px;

   
}

#carr{

    width: 1000px;
    height: 1000px;
    background: #fff;
    margin: 0 auto;
}

#carrossel {

    position: absolute;
    width: 100%;
    height: 450px;
    width: 1000px;
    overflow: hidden;


}

#container {
    position: absolute;
    width: auto;
    height: 100%;

    display: inline-flex;
    transition: 0.6s ease-in-out;
}

#container #item {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
    height: 100%;
    z-index: 2;
}

#container #item img {
    width: 100%;
    height: 100%;
}

#btnleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    opacity: 0.09;
    cursor: pointer;
    z-index: 3;
}

#btnright {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    opacity: 0.09;
    cursor: pointer;
    z-index: 3;
}

#container #limitador {
    position: absolute;
    margin: 0 7px;
    width: 300px;
    height: 100%;
    opacity: 0;
    right: 0;
    z-index: 1;
    background: blue;
}
.PARCEIROS {

    background-color: rgb(0, 76, 149);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: rgb(65, 128, 157);
    background-position: center center;
    font-size: 25px;
    max-width: auto;

  
}

.PARCEIROS table{
    margin-left: auto;
    margin-right: auto;
}

.logos {
    flex: 1;
    height: 120px;
    width: 150px;
    padding-left: 25px;
    padding-right: 25px;

}

.logos img{
    height: 100px;
}

footer {
    margin-top: 10px;
    text-align: center;
}

#saiba_mais{

    width: 150px;
    height: 75px;
    border-radius: 5px;
    border-color: #004C94;
    background-color: #004C94;
    color: #84DCCF;



}
      #Participe{

        width: 150px;
        height: 50px;
        border-radius: 5px;
        border-color: #004C94;
        background-color: #004C94;
        color: #84DCCF;
              }
    
.container td button{
    cursor: pointer;
}